.card-avatar {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.product-thumb {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 1px solid #ccc;
    display: block;
    margin: auto;
}